
<h2>View Comments</h2>

<h3><%= @recipe.title %></h3>
<div class="container_show">
  <div class="child_show">
      <p>Ingredients: <%= @recipe.ingredients %></p>
  </div>
  <div class="child_show">
      <%= image_tag @recipe.photo_url , :class => 'photo_size' %>
  </div>
</div>

<p class="prep">Preparation: <%= @recipe.directions %></p>

<h4>Comments:</h4>
<% @comments.each do |comment| %>
  <div class="comment">
    <p>--<%= comment.content %></p>
    <p><%= time_ago_in_words comment.created_at %> ago <%= link_to 'Edit or Delete Comment' , edit_recipe_comment_path(@recipe, comment) %></p>

  </div>
<% end %>

<%= link_to "Add a Comment" , new_recipe_comment_path(@recipe) %>
