<h2>Welcome to Recipe Box</h2>
<h3>View Comments</h3>

<h3><%= @recipe.title %></h3>
<div class="container_flex">
  <div class="child_flex">
      <%= image_tag @recipe.photo_url %>
  </div>
  <div class="child_flex">
      <p>Ingredients: <%= @recipe.ingredients %></p>
  </div>
</div>
<p>Preparation: <%= @recipe.directions %></p>


<% @comments.each do |comment| %>
  <div class="comment">
    <h4>Comments:</h4>
    <p>--<%= comment.content %></p>
    <p><%= time_ago_in_words comment.created_at %> ago</p>
    <%= link_to 'Edit or Delete Comment' , edit_recipe_comment_path(@recipe, comment) %>
  </div>
<% end %>
<%= link_to "Home" , recipes_path %>
<%= link_to "Add a Comment" , new_recipe_comment_path(@recipe) %>
