<h2>Welcome to Recipe Box</h2>



<div class="recipe">
    <h3><%= @recipe.title %></h3>
    <p><%= image_tag @recipe.photo_url %></p>    <!-- Need to make sure of syntax -->
</div>

<div class="comment">
  <p><%= @comment.content %></p>
  <p><%= @comment.created_at %></p>
</div>


<%= link_to "Home" , recipes_path %>
<%= link_to "Comments" ,  new_recipe_comment_path(@recipe)  %>
<%= link_to "Edit Comment" , edit_recipe_comment_path(@recipe, @comment) %>
<%= link_to "Delete", recipe_comment_path(@recipe,@comment), method: :delete %>
