<h2>Welcome to Recipe Box</h2>



<h3><%= @recipe.title %></h3>
<div class="container_flex">
  <div class="child_flex">
      <%= image_tag @recipe.photo_url %>
  </div>
  <div class="child_flex">
      <p>Ingredients: <%= @recipe.ingredients %></p>
  </div>
</div>
<p>Preparation: <%= @recipe.directions %></p>

<div class="comment">
  <p>Comment: <%= @comment.content %></p>
  <p><%= @comment.created_at %></p>
</div>


<%= link_to "Home" , recipes_path %>
<%= link_to "Comments" ,  new_recipe_comment_path(@recipe)  %>
<%= link_to "Edit Comment" , edit_recipe_comment_path(@recipe, @comment) %>
<%= link_to "Delete", recipe_comment_path(@recipe,@comment), method: :delete %>
