



<h3><%= @recipe.title %></h3>
<div class="container_show">
  <div class="child_show">
      <%= image_tag @recipe.photo_url %>
  </div>
  <div class="child_show">
      <h4>Ingredients: </h4>
      <p class="indent"><%= @recipe.ingredients %></p>
  </div>
</div>
<h4>Preparation:</h4>
<p><%= @recipe.directions %></p>

<div class="comment">
  <p>Comment: <%= @comment.content %></p>
  <p class="indent"><%= @comment.created_at %></p>
</div>


<%= link_to "Comments" ,  new_recipe_comment_path(@recipe)  %>
<%= link_to "Edit Comment" , edit_recipe_comment_path(@recipe, @comment) %>
<%= link_to "Delete", recipe_comment_path(@recipe,@comment), method: :delete %>
