


<h3><%= @recipe.title %></h3>
<div class="container_show">
  <div class="child_show">
      <h4>Ingredients:</h4>
      <p class="indent"><%= @recipe.ingredients %></p>
  </div>
  <div class="child_show">
      <%= image_tag @recipe.photo_url %>
  </div>
</div>


<div class="prep">
  <h4>Preparation:</h4>
  <p><%= @recipe.directions %></p>


  <%= link_to 'View comments' , recipe_comments_path(@recipe) %>
  <%= link_to "Add a Comment" ,  new_recipe_comment_path(@recipe)  %>
  <%= link_to "Edit Recipe" , edit_recipe_path(@recipe) %>
  <%= link_to "Delete", recipe_path(@recipe), method: :delete %>
</div>
