


<h3><%= @recipe.title %></h3>
<div class="container_flex">
  <div class="child_flex">
      <%= image_tag @recipe.photo_url %>
  </div>
  <div class="child_flex">
      <p>Ingredients: <%= @recipe.ingredients %></p>
  </div>
</div>
<p>Preparation: <%= @recipe.directions %></p>

<%= link_to "Home" , recipes_path %>
<%= link_to 'View comments' , recipe_comments_path(@recipe) %>
<%= link_to "Add a Comment" ,  new_recipe_comment_path(@recipe)  %>
<%= link_to "Edit Recipe" , edit_recipe_path(@recipe) %>
<%= link_to "Delete", recipe_path(@recipe), method: :delete %>
