<!DOCTYPE html>
<html>
<head>
  <title>RecipeBox</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="logo">Recipe Box</h1>
    <nav class="main_nav">
    <% if session[:user] %>
      <%= link_to "All Recipes" , recipes_path %>
      <%= link_to "User Recipes" , user_recipes_path %>
      <%= link_to "Create New Recipe" , new_recipe_path(@recipe) %>
      <%= link_to "Temps" , temp_path %>
      <%= link_to "Converter" , converter_path %>
      <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a>
    <% else %>
      <a href="/sign_in">Sign in</a>
      <a href="/sign_up">Sign up</a>
    <% end %>
    </nav>
  </header>
  <h2 class="flash"><%= flash[:notice] %></h2>
<%= yield %>

</body>
</html>
